<header class="flex-title">
    <img src="./assets/img/mood3.png" id="logo"/>
  <h1 class="flex-title-child"> DAILY MOOD</h1>
 <ul class="nav flex-title-child">
  <li class="nav-item" id="logout">
    <a class="nav-link link-dark">LOGOUT</a>
     
  </li>
</ul>
</div>
</header>

<container class="text-center quote-box" id="main">
  <div id="quoteArea">
    <h4 id="bigQuote"></h4>
    <h5 id="author"></h5>
</container>

<div class="flex-container">
  <container class="flex-child previous-mood">
    <h4 id="prev-mood">Previous Moods</h4>
  </container>

  <container class="question-container flex-child">
  <form class="row question-form col-lg-10 g-3">
    <h4>Reflection</h4>
    <section id="row1">
      <div class="col-auto ">
        <label for="inputEmail4" class="form-label">How was your day?</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="col-auto pt-3">
        <label for="inputPassword4" class="form-label">What could you have done to make your day better?</label>
        <input type="text" class="form-control" id="inputPassword4">
      </div>
    </section>

    <section id="row2">
      <div class="col-auto pt-1">
        <label for="inputAddress" class="form-label">Name something that made you proud of yourself today:</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Today I...">
      </div>
      <div class="col-auto pt-3">
        <label for="inputState" class="form-label">Which best describes your mood for today?</label>
        <select id="inputState" class="form-select">
          <option selected></option>
          <option>Happy</option>
          <option>Okay</option>
          <option>Sad</option>
        </select>
      </div>
      <div class="col-auto pt-3">
        <label for="inputZip" class="form-label">How did the quote fit into your day?</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </section>
    <div class="col-12">
      <button type="submit" class="btn btn-secondary">Save</button>
    </div>
  </form>
  </container>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="./assets/js/logout.js"></script>