@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

* {
    background-color: rgb(193, 239, 232);
}

#login-header {
    font-family: 'Aclonica', sans-serif;
    display: flex;
    justify-content: center;
    padding:20px;
}

#logo {
    width: 40px;
    height: 70px;
    padding-bottom: 15px;
}

#login-logo {
    width: 52px;
    height: 75px;
}

#login-header h1 {
    font-size: 70px;
    
}

.login-page {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.login {
    padding-top: 50px;
}

.signup {
    padding-top: 60px;
}

.form-group {
    padding: 5px;
}

.nav {
   display: flex;
   justify-content: end;
}

.nav-item {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
}

.quote-box {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.flex-container {
    display: flex;
    padding-top: 20px;
    margin: 20px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.flex-child {
    flex: 1;
}

.flex-child:first-child {
    margin-right: 20px;
}

.flex-title {
    display: flex;
    font-family: 'Aclonica', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
}

.flex-title-child {
    flex: 1;
    padding-top: 10px;
}
.flex-title-child:first-child {
    margin-right: 20px;
}

.question-container {
    display: flex;
    justify-content: center;
    border: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 3%;
}

.question-form {
    margin: 10px;
}

.previous-mood {
    border: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 3%;
}

#prev-mood {
    padding-top: 20px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}